---
layout: base/base.liquid
---

<section class="embed" data-controller="embed"
  data-action="photosCarousel:onThumbnails@document->embed#toggleInfobar
              resize@window->embed#onScroll
              photos:selectThumbnail@document->embed#selectThumbnail
              photosCarousel:photoSelected@document->embed#onPhotoSelected
              thumbnail:loaded@document->embed#loadThumbnails"
>

  {% include carousel/carousel role:"embed" %}

  <div class="lists__placeholder is-hidden hidden-when-public" data-embed-target="placeholder">
    <h3>{{ lang[locale].list_photos_empty_header }}</h3>
    <p>{{ lang[locale].list_photos_empty_text }}</p>
    <a href="/{{ locale }}/photos/" class="button button--medium button--primary">
      {{ lang[locale].photos }}
      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 14 10">
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2,6 L6,10 L10,6 M6,-2 L6,9" transform="rotate(-90 7 4)"/>
      </svg>
      </a>
  </div>

  <div class="embed-infobar scrollview" data-embed-target="infobar" data-action="scroll->embed#onScroll">

    <div class="embed-infobar__content">

      <div class="list-info">
        <h2 class="list-info__title" data-embed-target="title"></h2>
        <h5 class="list-info__subtitle" data-embed-target="subtitle">
          <i class="lists-private-icon hidden-when-public" title="{{ lang[locale].list_edit_private }}">
            {% inlineSVG src:"src/static/images/icons/24/icon-lock.svg" %}&bull;
          </i> <span class="list-info__username" data-embed-target="username"></span>&bull;<span data-embed-target="count" class="list-info__subtitle__count"></span>
          {{ lang[locale].photo_results }}
        </h5>
        <p class="list-info__description" data-embed-target="description"></p>
      </div>

      <div class="thumbnails"
          data-action="photos:selectThumbnail@document->embed#selectThumbnail
                        photosCarousel:photoSelected@document->embed#onPhotoSelected
                        photosCarousel:hide@document->embed#onCarouselClosed
                        thumbnail:loaded@document->embed#loadThumbnails"
      >
        <div class="photos__grid is-hidden" data-embed-target="grid"></div>
      </div>

    </div>

  </div>

  {% include thumbnail/thumbnail-template %}
  {% include age-restriction/age-restriction-template.liquid %}
  {% include dialog/age-restriction/age-restriction.liquid %}

</section>