<div class="input-wrapper {{ class }}" data-controller="input{% unless autosuggest == null %} autosuggest{% endunless %}" {{ stimulus_wrapper_target }}>
  <label for="{{ name }}" data-input-target="label" class="input-wrapper__label{% if value %} is-visible{% endif %}{% if label_fixed %} input-wrapper__label--fixed{% endif %}">{{ label }}</label>
  <input class="input-wrapper__input"
    name="{{ name }}"
    type="{{ type }}"
    autocomplete="off"
    {% if not label_fixed %}placeholder="{{ label }}"{% endif %}
    {% if value %}value="{{ value }}"{% endif %}
    data-input-target="input"
    {{ stimulus_target }}
    {{ options }}
    data-action="change->input#onChange keyup->input#onChange keypress->input#keypress{% if stimulus_action %} {{ stimulus_action }}{% endif %}{% unless autosuggest == null %} keyup->autosuggest#keyup{% endunless %}"
    {% unless autosuggest == null %}
    data-autosuggest="{{ autosuggest }}"
    data-autosuggest-target="input"
    {% endunless %}

  />
  {% unless autosuggest == null %}
  <div class="autosuggest" data-autosuggest-target="autosuggest"></div>
  {% endunless %}
</div>