<div class="cookie-consent" data-controller="cookie-consent">
  <div class="cookie-consent__wrapper">
    <form
      class="cookie-consent__form"
      data-cookie-consent-target="form"
      data-action="submit->cookie-consent#disableFormSubmit keypress->cookie-consent#disableFormSubmitOnEnter">
      <div class="cookie-consent__blurb styled-links">
        {{ lang[locale].cookieinfo }}
        <a href="/{{locale}}/static/?content=privacy-policy">{{ lang[locale].more_info }}</a>
      </div>
      <div class="cookie-consent__form__actions">
        <button class="button button--secondary button--medium" data-action="cookie-consent#hide">
          {{ lang[locale].decline }}
        </button>
        <button class="button button--primary button--medium" data-action="cookie-consent#accept">
          {{ lang[locale].allow_cookies }}
        </button>
      </div>
    </form>
  </div>
</div>