<div class="context-menu context-menu--lists hidden-when-public" data-action="mouseleave->{{ controller }}#hideAllContextMenu">
{% if role == "list-photos-edit" %}
  <a href="#" class="context-menu--lists__link"
    data-action="click->{{ controller }}#showContextMenu"
  >{{ lang[locale].list_edit }}</a>
{% else %}
  <div class="button-circular context-menu--lists__button"
    data-action="click->{{ controller }}#showContextMenu"
  >
    {% inlineSVG src:"src/static/images/icons/24/icon-dots.svg" class:"button-circular__icon" %}
    <div class="button-circular__label">{{ lang[locale].list_edit }}</div>
  </div>
{% endif %}
  <div class="header-nav__popup{% if role == "thumbnail" %} header-nav__popup--small{% endif %}">
  {% if role == "thumbnail" %}
    <a href="#" class="header-nav__link"
    data-action="click->{{ controller }}#removePhoto">{{ lang[locale].list_remove_from }}</a>
  {% else %}
    {% unless role == "list-photos-edit" %}
    <a href="#" class="header-nav__link header-nav__link--top"
    data-action="click->{{ controller }}#openList">{{ lang[locale].list_view }}</a>
    {% endunless %}
    <a href="#" class="header-nav__link header-nav__link--top header-nav__link--copy-url"
    data-action="click->{{ controller }}#shareLink">{{ lang[locale].list_copy_link }}</a>
    <a href="#" class="header-nav__link header-nav__link--top header-nav__link--separator-after"
    data-action="click->{{ controller }}#jumpToPhotos">{{ lang[locale].list_add_photos }}</a>
    <a href="#" class="header-nav__link header-nav__link--top"
    data-action="click->{{ controller }}#editList">{{ lang[locale].list_edit }}</a>
    <a href="#" class="header-nav__link header-nav__link--top"
    data-action="click->{{ controller }}#deleteList">{{ lang[locale].list_delete }}</a>
  {% endif %}
  </div>
</div>