<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="description" content="{{ renderData.description or description or metadata.description }}" />
    <meta name="apple-mobile-web-app-title" content="Fortepan">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <link rel="stylesheet" href="https://use.typekit.net/shi7abw.css" />
    <link
      rel="stylesheet"
      href="/{% if siteData.environment == 'production' %}{{ manifestCSS['app.css'] }}{% else %}app.css{% endif %}"
    />
  </head>
  <body class="theme--light" itemscope itemtype="http://schema.org/WebPage">
    {% include background-icon/background-icon.liquid %}
    <div class="base__main">
    {{ content }}
    </div>
    <script src="/{% if siteData.environment == 'production' %}{{ manifestJS['_dist/app.js'] | replace: '_dist/','' }}{% else %}app.js{% endif %}"></script>
  </body>
</html>
