<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="description" content="{{ description }}" />
    <meta name="apple-mobile-web-app-title" content="Fortepan">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="fragment" content="!">

    {% if siteConfig.ENV == 'production' %}
      {% assign site_url = siteConfig.SITE %}
    {% else %}
      {% assign site_url = siteConfig.SITE_DEV %}
    {% endif %}

    <link rel="shortcut icon" href="{{ site_url }}/favicon.ico" />
    <link rel="apple-touch-icon" href="{{ site_url }}/images/icons/apple-touch-icon.png" />
    <link
      rel="mask-icon"
      href="{{ site_url }}/images/icons/fortepan-logo.svg"
      color="#F73F13">
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ site_url }}/favicon.ico">
    <meta name="theme-color" content="#F73F13">

    <meta property="twitter:image:src" content="{{ site_url }}/images/social/fortepan-twitter-1.jpg" />
    <meta property="twitter:site" content="@Fortepan" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content="{{ title }}" />
    <meta property="twitter:description" content="{{ description }}" />

    <meta property="og:image" content="{{ site_url }}/images/social/fortepan-facebook-1.jpg" />
    <meta property="og:site_name" content="Fortepan" />
    <meta property="og:type" content="object" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />

    <meta name="google-site-verification" content="ubqqJEgDZPXZWLuQ5tEMIMvszj2_-7A1mlGKaliCw7I" />

    <title>{{ title }}</title>

    <link rel="stylesheet" href="https://use.typekit.net/shi7abw.css" />
    <link
      rel="stylesheet"
      href="/css/{{ manifest-css["styles.css"] }}"
      type="text/css">

    <script src="https://polyfill.io/v3/polyfill.min.js?features=URLSearchParams%2CObject.fromEntries"></script>
  </head>
  <body
    itemscope
    itemtype="http://schema.org/WebPage"
    data-lang="{{ locale }}"
    data-controller="base">
    <main>
      {{ content }}
    </main>
    {% if role != "embed" %}

    {% include dialog/signin/signin.liquid %}
    {% include dialog/signup/signup.liquid %}
    {% include dialog/reset-password/reset-password.liquid %}
    {% include dialog/reset-password-request/reset-password-request.liquid %}
    {% include dialog/search/search.liquid %}

    {% include cookie-consent/cookie-consent.liquid %}
    {% if locale == "hu" and cmsConfig.tax1percent and permalink != "/hu/ado-1-szazalek/" %}
      {% include tax1percent/tax1percent.liquid %}{% endif %}

    {% endif %}

    {% include loader/loader.liquid id: "loaderBase" %}
    {% include snackbar/snackbar.liquid %}

    <script>
      window.process = {
        env: {
          ENV: "{{ siteConfig.ENV }}"
        }
      }
      {% for param in cmsConfig %} window.{{param[0]}} = {% if param[1] == true or param[1] == false %}{{param[1]}}{% else %}"{{param[1]}}"{% endif %};{% endfor %}
    </script>
    <script src="/{{ manifest-js['main.js'] }}"></script>
  </body>
</html>