<div class="select-wrapper {{ class }}">
  <label for="{{ name }}" class="select-wrapper__label" data-controller="select">{{ label }}</label>
  <select class="select-wrapper__select" 
    name="{{ name }}" 
    data-select-target="input"
    {{ stimulus_target }}
    data-action="{{ stimulus_action }}"
  >
  </select>
</div>