<dialog-signin class="dialog dialog-signin">
  <div class="dialog__wrapper">
      <h3 class="dialog__title">{{ lang[locale].login }}</h3>
      <label for="email">{{ lang[locale].username }}</label>
      <input name="username" type="text" placeholder="{{ lang[locale].username }}"/>
      <label for="password">{{ lang[locale].password }}</label>
      <input name="password" type="password" placeholder="{{ lang[locale].password }}" />
  </div>
</dialog-signin>