<carousel-sidebar class="carousel-sidebar scrollview">
    <div class="carousel-sidebar__content">
        <div class="carousel-sidebar__location">
            <h6>{{ lang[locale].description }}</h6>
            <h5></h5>
        </div>
        <div class="carousel-sidebar__description"></div>
        <div class="carousel-sidebar__year">
            <h6>{{ lang[locale].year }}</h6>
            <h5></h5>
        </div>
        <div class="carousel-sidebar__id">
            <h6>{{ lang[locale].picture_id }}</h6>
            <h5></h5>
        </div>
        <div class="carousel-sidebar__donor">
            <h6>{{ lang[locale].donor }}</h6>
            <h5><a href="#"></a></h5>
        </div>
        <div class="carousel-sidebar__photographer">
            <h6>{{ lang[locale].photographer }}</h6>
            <h5><a href="#"></a></h5>
        </div>
        <div class="carousel-sidebar__tags">
            <h6>{{ lang[locale].tags }}</h6>
            <p></p>
            <a class="carousel-sidebar__add-tag">{{ lang[locale].add_tag }}</a>
            {% include selectize-control/selectize-control.liquid class:"carousel-sidebar__selectize hide" %}
        </div>
    </div>
</carousel-sidebar>