<dialog-reset-password class="dialog dialog-reset-password">
  {% include button-circular/button-circular.liquid icon:"close" trigger:"dialogResetPassword:hide" label:lang[locale].close class:"dialog__close" %}

  <div class="dialog__wrapper">
      <h3 class="dialog__title">{{ lang[locale].forgot_password }}</h3>
      <p>{{ lang[locale].forgot_password_blurb }}</p>
      <div class="dialog__form">
        <label for="email">{{ lang[locale].email }}</label>
        <input class="input" name="email" type="text" placeholder="{{ lang[locale].email }}"/>
        <button class="button dialog__button">{{ lang[locale].reset_password }}</button>
      </div>
  </div>
</dialog-reset-password>
