<header class="header {{ header_class }}">
  <div class="header__logo">
    {% include buttons/circular.liquid icon:"close" id:"CarouselClose" href:"#" label:lang[locale].close class:"header__close button__circular--separator-after" %}
    <a href="/" class="header__logo__link">
      {% inlineSVG src:"src/static/images/header-logo.svg" class:"header__logo" %}
      <span>Fortepan</span>
    </a>
  </div>
  <div class="header__actions">
    {% unless hide_search %}
    <div class="header__actions__group header__actions__group--search">
      {% include search/search.liquid class:"search--header" %}
      {% include buttons/circular.liquid icon:"search" class:"button__circular--red" id:"HeaderSearchToggle" href:"#" label: lang[locale].search %}
    </div>
    {% endunless %}
    <div class="header__actions__group header__actions__group--nav">
      {% include buttons/circular.liquid icon:"darkmode" id:"DarkThemeSwitcher" href:"#" label: lang[locale].darkmode %}
      {% include buttons/circular.liquid icon:"lightmode" id:"LightThemeSwitcher" href:"#" label: lang[locale].lightmode %}
      {% include buttons/circular.liquid icon:"menu" id:"HeaderNavigationToggle" href:"#" label: lang[locale].menu class:"button__circular--no-label" %}
    </div>
    {% comment %}
    <div class="header__actions__group header__actions__group--login">
      <a href="#" class="header__link header__link--top header__link--top-action" id="HeaderLogin">{{ lang[locale].login }}</a>
      {% if locale == "hu" %}
      <a class="header__link header__link--top header__link--top-action" href="/en/photos/">EN</a>
      {% else %}
      <a class="header__link header__link--top header__link--top-action" href="/">HU</a>
      {% endif %}
    </div>
    {% endcomment %}
  </div>
  <div class="header__nav">
    <a class="header__link header__link--top" href="/{{ locale }}/photos/">Fotók</a>
    <a class="header__link header__link--top" href="/{{ locale }}/about-us/">Rólunk</a>
    <a class="header__link header__link--top" href="/{{ locale }}/donors/">Adományozók</a>
    <a class="header__link header__link--top" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=fortepan%40fortepan.hu&currency_code=HUF&source=url" target="_blank">Támogatás</a>
    <a class="header__link header__link--top" href="https://index.hu/fortepan/" target="_blank">Index Nagykép</a>
    <a class="header__link header__link--top header__link--separator-after" href="https://forum.index.hu/Article/showArticle?t=9204653" target="_blank">Fórum</a>
    <a class="header__link header__link--top" href="mailto:fortepan@gmail.com">Kapcsolat</a>
    <a class="header__link header__link--top" href="/{{ locale }}/privacy/">Adatvédelem</a>
  </div>
</header>

{% unless hide_search %}
<div class="dialog dialog--search">
  {% include search/search.liquid class:"search--large" %}
</div>
{% endunless %}