---
layout: base/base.liquid
---

{% include header-nav/header-nav.liquid hide_search:true header_class:"header-nav--transparent" %}

<div class="home scrollview" data-controller="home"
  data-action="timeline:yearSelected@document->home#onYearSelected
               timeline:stopDrag@document->home#onYearSelected
               scroll->home#onScroll
               resize@window->home#onScroll
               resize@window->home#resizeThumbnails
               thumbnail:loaded@document->home#centerSelectedThumbnail
               photosThumbnail:select@document->home#onThumbnailClicked"
>
  <section class="home__hero">
    <div class="home__announcement">
        {% assign latest_set = photo_uploads.collections[0] %}
        <div class="home__announcement__caption caption">{{ announcement.caption }}</div>
        <h1 class="home__announcement__title"><strong>{{ latest_set[locale].title }}</strong></h1>
        <div class="home__announcement__blurb p">{{ latest_set[locale].blurb }}</div>
        <div class="home__announcement__actions">
        {% if latest_set[locale].actions.best_of %}
          <a href="/{{ locale }}/photos/?latest&tag=best%20of&upload={{ latest_set.date }}" class="button button--medium button--primary">
            <span>{{ latest_set[locale].actions.best_of }}</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 14 10">
              <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2,6 L6,10 L10,6 M6,-2 L6,9" transform="rotate(-90 7 4)"/>
            </svg>
          </a>
        {% endif %}
        {% if latest_set[locale].actions.all %}
          <a href="/{{ locale }}/photos/?latest&upload={{ latest_set.date }}" class="button button--medium button--primary">
            <span>{{ latest_set[locale].actions.all }}</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 14 10">
              <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2,6 L6,10 L10,6 M6,-2 L6,9" transform="rotate(-90 7 4)"/>
            </svg>
          </a>
        {% endif %}
        </div>
    </div>
    <div class="home__hero__background" data-home-target="heroBg" data-bg-id="{{ latest_set.cover_image }}"></div>
  </section>

  <section class="home__photos">
    {% include timeline/timeline.liquid %}
    <div class="home__thumbnails-wrapper"><div class="home__thumbnails" data-home-target="thumbnails"></div></div>
  </section>


  <section class="home__content">
    <div class="home__search-wrapper">
      {% include search/search.liquid class:"home__search__input" type:"large" %}
      <div class="home__search__total h3" data-home-target="total">
        <a href="/{{ locale }}/photos/">
          {% if locale == "hu" %}Összesen {% endif %}
          <span data-home-target="totalVal"></span>
          {% if locale == "hu" %}fénykép{% else %}photos in total{% endif %}
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 14 10">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2,6 L6,10 L10,6 M6,-2 L6,9" transform="rotate(-90 7 4)"/>
          </svg>
        </a>
      </div>
    </div>

    <div class="home__intro">
      <h3 class="home__intro__headline">{{ description }}</h3>
      <div class="home__intro__text">{{ content }}</div>
    </div>

    {% comment %}
    <div class="home__usp home__usp--collections">
      <div class="home__usp__header">
        <h2>{{ best_of_collections.title }}</h2>
        <p class="text-medium">{{ best_of_collections.caption }}</p>
      </div>

      <ul class="home__usp__list">
        {% assign count = 0 %}
        {% for collection in best_of_collections.content %}
        {% if count < 3 %}
        {% assign count = count | plus: 1 %}
        <li class="list-item">
          <div class="list-item__cover" data-action="click->home#onUspCoverClick">
            {% capture img_src %}{{ siteConfig.PHOTO_SOURCE }}480/fortepan_{{ collection.cover_image }}.jpg{% endcapture %}
            {% include image-lazyloader/image-lazyloader.liquid src:img_src alt:collection.title custom_class:"list-item__photo" %}
            <div class="list-item__cover-overlay"><span class="h1">{{ collection.counter }}</span></div>
          </div>
          <div class="list-item__meta">
            <h5><a href="{{ collection.url }}" class="list-item__title">{{ collection.title }}</a></h5>
          </div>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
    {% endcomment %}

    <div class="home__usp home__usp--blog-summary">
      <div class="home__usp__header">
        <h2>{{ blog.title }}</h2>
        <p class="text-medium">{{ blog.caption }}</p>
      </div>

      <ul class="home__usp__list">
        {% assign count = 0 %}
        {% for blog in blog_content[locale] %}
        {% if count < 4 %}
        {% assign count = count | plus: 1 %}
        <li class="list-item">
          <div class="list-item__cover" data-action="click->home#onUspCoverClick">
            {% capture img_src %}{{ siteConfig.PHOTO_SOURCE }}480/fortepan_{{ blog.cover_image }}.jpg{% endcapture %}
            {% include image-lazyloader/image-lazyloader.liquid src:img_src alt:blog.title custom_class:"list-item__photo" %}
          </div>
          <div class="list-item__meta">
            <p class="text-small text-secondary">{% date blog.date, locale %}</p>
            <h5><a href="{{ blog.url }}" class="list-item__title" target="_blank">{{ blog.title }}</a></h5>
            <p class="text-medium text-secondary">{{ blog.excerpt | truncatewords: 24, '…' }}</p>
          </div>
        </li>
        {% endif %}
        {% endfor %}
      </ul>

      <div class="home__usp__action">
        <a href="{{ blog.action.url }}" class="button button--medium button--primary" target="_blank">
            <span>{{ blog.action.label }}</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 14 10">
              <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2,6 L6,10 L10,6 M6,-2 L6,9" transform="rotate(-90 7 4)"/>
            </svg>
          </a>
      </div>
    </div>

    <div class="home__usp home__usp--collections">
      <div class="home__usp__header">
        <h2>{{ latest.title }}</h2>
        <p class="text-medium">{{ latest.caption }}</p>
      </div>

      <ul class="home__usp__list">
        {% assign count = 0 %}
        {% for photo_set in photo_uploads.collections %}
        {% if count > 0 and count < 5 %}
        {% capture query_url %}cfrom={% date_iso photo_set.date %}{% if until_date %}&cto={% date_iso until_date %}{% endif %}&upload={{ photo_set.date }}{% endcapture %}
        <li class="list-item">
          <div class="list-item__cover" data-action="click->home#onUspCoverClick">
            {% capture img_src %}{{ siteConfig.PHOTO_SOURCE }}480/fortepan_{{ photo_set.cover_image }}.jpg{% endcapture %}
            {% include image-lazyloader/image-lazyloader.liquid src:img_src alt:photo_set[locale].title custom_class:"list-item__photo" %}
          </div>
          <div class="list-item__meta">
            <p class="text-small text-secondary">{% date photo_set.date, locale %}</p>
            <h5><a href="/{{ locale }}/photos/?{{ query_url }}" class="list-item__title">{{ photo_set[locale].title }}</a></h5>
            <p class="text-medium text-secondary">{{ photo_set[locale].blurb }}</p>

            {% if photo_set[locale].actions.best_of or photo_set[locale].actions.all %}
            <div class="list-item__actions">
              {% if photo_set[locale].actions.best_of %}
              <a href="/{{ locale }}/photos/?tag=best%20of&{{ query_url }}" class="button button--small button--secondary button--inline">
                <span>{{ photo_set[locale].actions.best_of }}</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 14 10">
                  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M2,6 L6,10 L10,6 M6,-2 L6,9" transform="rotate(-90 7 4)"/>
                </svg>
              </a>
              {% endif %}
              {% if photo_set[locale].actions.all %}
              <a href="/{{ locale }}/photos/?{{ query_url }}" class="button button--small button--secondary button--inline">
                <span>{{ photo_set[locale].actions.all }}</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 14 10">
                  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M2,6 L6,10 L10,6 M6,-2 L6,9" transform="rotate(-90 7 4)"/>
                </svg>
              </a>
              {% endif %}
            </div>
            {% endif %}

          </div>
        </li>
        {% endif %}
        {% assign until_date = photo_set.date %}
        {% assign count = count | plus: 1 %}
        {% endfor %}
      </ul>

      <div class="home__usp__action">
        <a href="{{ latest.action.url }}" class="button button--medium button--primary">
            <span>{{ latest.action.label }}</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 14 10">
              <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2,6 L6,10 L10,6 M6,-2 L6,9" transform="rotate(-90 7 4)"/>
            </svg>
          </a>
      </div>
    </div>
  </section>

  {% include footer/footer.liquid %}
</div>

{% include thumbnail/thumbnail-template.liquid %}
