<div class="carousel__meta scrollview">
    <div class="carousel__meta__content">
        <div class="carousel__meta__year">
            <h6>{{ lang[locale].year }}</h6>
            <h5></h5>
        </div>
        <div class="carousel__meta__id">
            <h6>{{ lang[locale].picture_id }}</h6>
            <h5></h5>
        </div>
        <div class="carousel__meta__location">
            <h6>{{ lang[locale].location }}</h6>
            <h5></h5>
        </div>
        <div class="carousel__meta__description"></div>
        <div class="carousel__meta__donor">
            <h6>{{ lang[locale].donor }}</h6>
            <h5><a href="#"></a></h5>
        </div>
        <div class="carousel__meta__tags">
            <h6>{{ lang[locale].tags }}</h6>
            <p></p>
            <a class="carousel__meta__tags__add-tag">{{ lang[locale].add_tag }}</a>
        </div>
    </div>
</div>