<div class="photos-carousel" 
     data-controller="carousel" 
     data-action="keydown@document->carousel#boundKeydownListener
                  mouseover->carousel#showControls
                  mouseout->carousel#hideControls
                  touchstart->carousel#autoHideControls
                  photosCarousel:playSlideshow@document->carousel#playSlideshow
                  photosCarousel:pauseSlideshow@document->carousel#pauseSlideshow
                  photosCarousel:showPhoto@document->carousel#showPhoto
                  photosCarousel:show@document->carousel#show
                  photosCarousel:hide@document->carousel#hide"
>
    <div class="photos-carousel__photos hide-controls theme--dark" data-carousel-target="photosContainer">
        <div class="photos-carousel__photos__background">
            <div class="photos-carousel__photos__background-image" data-carousel-target="background"></div>
        </div>

        {% include loader/loader.liquid class:"photos-carousel__photos__loader is-delayed" id:"loaderCarousel" %}
        
        <div class="button-circular button-circular--has-background photos-carousel__photos__pager photos-carousel__photos__pager--left disable"
          data-carousel-target="pager"
          data-action="click->carousel#showPrevPhoto">
            {% inlineSVG src:"src/static/images/icons/24/icon-previous.svg" class:"button-circular__icon" %}
            <div class="button-circular__label">{{ lang[locale].prev }}</div>
        </div>

        <div class="button-circular button-circular--has-background photos-carousel__photos__pager photos-carousel__photos__pager--right disable"
          data-carousel-target="pager"
          data-action="click->carousel#showNextPhoto">
            {% inlineSVG src:"src/static/images/icons/24/icon-next.svg" class:"button-circular__icon" %}
            <div class="button-circular__label">{{ lang[locale].next }}</div>
        </div>

        <div class="photos-carousel__photos__all" data-carousel-target="photos"></div>

        <div class="photos-carousel__photos__actions" data-carousel-target="actions">
            <div class="button-circular" data-action="click->carousel#hide">
                {% inlineSVG src:"src/static/images/icons/24/icon-close.svg" class:"button-circular__icon" %}
                <div class="button-circular__label">{{ lang[locale].close }}</div>
            </div>
            <div class="photos-carousel__photos__actions__group">
                <div id="SlideshowPlay" class="button-circular" data-action="click->carousel#playSlideshow">
                    {% inlineSVG src:"src/static/images/icons/24/icon-play.svg" class:"button-circular__icon" %}
                    <div class="button-circular__label">{{ lang[locale].slideshow }}</div>
                </div>
                <div id="SlideshowPause" class="button-circular" data-action="click->carousel#pauseSlideshow">
                    {% inlineSVG src:"src/static/images/icons/24/icon-pause.svg" class:"button-circular__icon" %}
                    <div class="button-circular__label">{{ lang[locale].slideshow }}</div>
                </div>
                <div class="button-circular" data-action="click->carousel#downloadImage">
                    {% inlineSVG src:"src/static/images/icons/24/icon-download.svg" class:"button-circular__icon" %}
                    <div class="button-circular__label">{{ lang[locale].download }}</div>
                </div>
                <div class="button-circular" data-action="click->carousel#shareImage">
                    {% inlineSVG src:"src/static/images/icons/24/icon-share.svg" class:"button-circular__icon" %}
                    <div class="button-circular__label">{{ lang[locale].share }}</div>
                </div>
                <div class="button-circular" data-action="click->carousel#toggleSidebar">
                    {% inlineSVG src:"src/static/images/icons/24/icon-sidebar.svg" class:"button-circular__icon" %}
                    <div class="button-circular__label">{{ lang[locale].details }}</div>
                </div>
            </div>
        </div>

        {% include timeline/timeline.liquid role:"timeline" %}

    </div>
    {% include sidebar/sidebar.liquid %}
</div>