<div class="carousel"
     data-controller="carousel"
     data-action="keydown@document->carousel#boundKeydownListener
                  mousemove@document->carousel#showControls
                  touchstart->carousel#autoHideControls
                  photosCarousel:playSlideshow@document->carousel#playSlideshow
                  photosCarousel:pauseSlideshow@document->carousel#pauseSlideshow
                  thumbnail:click@document->carousel#showPhoto
                  photosCarousel:show@document->carousel#show
                  photosCarousel:close@document->carousel#hide
                  timeline:yearSelected@document->carousel#onYearSelected
                  dialogAgeRestriction:remove@document->carousel#removeAgeRestriction
                  fullscreenchange@document->carousel#onFullscreenChange"
>
    <div class="carousel__photos hide-controls theme--dark" data-carousel-target="photosContainer"
         data-action="mousemove->carousel#setLargePhotoPosition mouseleave->carousel#hideLargePhotoView"
    >
        <div class="carousel__photos__background">
            <div class="carousel__photos__background-image" data-carousel-target="background"></div>
        </div>

        {% include loader/loader.liquid class:"carousel__photos__loader is-delayed" id:"loaderCarousel" %}

        <a href="#" class="button-circular button-circular--has-background carousel__photos__pager carousel__photos__pager--left is-disabled"
          data-carousel-target="pagerPrev"
          data-action="click->carousel#showPrevPhoto">
            {% inlineSVG src:"src/static/images/icons/24/icon-previous.svg" class:"button-circular__icon" %}
            <div class="button-circular__label">{{ lang[locale].prev }}</div>
        </a>

        <a href="#" class="button-circular button-circular--has-background carousel__photos__pager carousel__photos__pager--right is-disabled"
          data-carousel-target="pagerNext"
          data-action="click->carousel#showNextPhoto">
            {% inlineSVG src:"src/static/images/icons/24/icon-next.svg" class:"button-circular__icon" %}
            <div class="button-circular__label">{{ lang[locale].next }}</div>
        </a>

        <div class="carousel__photos__all" data-carousel-target="photos"></div>

        <div class="carousel__photos__counter" data-carousel-target="counter" data-action="click->carousel#onPagerClicked">
            <div class="dots" data-carousel-target="counterDots"></div>
            <div class="button-circular__label" data-carousel-target="counterTooltip"></div>
        </div>

        <div class="carousel__photos__actions" data-carousel-target="actions">
            {% if role == "embed" %}
            <div class="embed-logo">
                <a href="https://fortepan.hu/{{ locale }}/" class="embed-logo__link" target="_blank" data-embed-target="logo">
                    {% inlineSVG src:"src/static/images/header-logo.svg" class:"embed-logo__logo" %}
                    <span data-embed-target="logoLabel">Fortepan</span>
                </a>
            </div>
            {% else %}
            <div class="button-circular" data-action="click->carousel#onCloseClicked">
                {% inlineSVG src:"src/static/images/icons/24/icon-close.svg" class:"button-circular__icon" %}
                <div class="button-circular__label">{{ lang[locale].close }}</div>
            </div>
            {% endif %}
            <div class="carousel__photos__actions__group">
                {% if role != "embed" %}
                <div id="SlideshowPlay" class="button-circular" data-action="click->carousel#playSlideshow">
                    {% inlineSVG src:"src/static/images/icons/24/icon-play.svg" class:"button-circular__icon" %}
                    <div class="button-circular__label">{{ lang[locale].slideshow }}</div>
                </div>
                <div id="SlideshowPause" class="button-circular" data-action="click->carousel#pauseSlideshow">
                    {% inlineSVG src:"src/static/images/icons/24/icon-pause.svg" class:"button-circular__icon" %}
                    <div class="button-circular__label">{{ lang[locale].slideshow }}</div>
                </div>
                <div class="button-circular" data-action="click->carousel#downloadImage">
                    {% inlineSVG src:"src/static/images/icons/24/icon-download.svg" class:"button-circular__icon" %}
                    <div class="button-circular__label">{{ lang[locale].download }}</div>
                </div>
                <div class="button-circular add-to-list-button" data-action="click->carousel#addToList">
                    {% inlineSVG src:"src/static/images/icons/24/icon-add-to-list.svg" class:"button-circular__icon" %}
                    <div class="button-circular__label">{{ lang[locale].list_add_to }}</div>
                </div>
                <div class="button-circular" data-action="click->carousel#shareImage">
                    {% inlineSVG src:"src/static/images/icons/24/icon-share.svg" class:"button-circular__icon" %}
                    <div class="button-circular__label">{{ lang[locale].share }}</div>
                </div>
                {% else %}
                <div class="button-circular" data-action="click->carousel#onThumbnailClicked">
                    {% inlineSVG src:"src/static/images/icons/24/icon-thumbnails.svg" class:"button-circular__icon" %}
                    <div class="button-circular__label">{{ lang[locale].thumbnails }}</div>
                </div>
                {% endif %}
                <div class="button-circular" data-action="click->carousel#toggleSidebar">
                    {% inlineSVG src:"src/static/images/icons/24/icon-sidebar.svg" class:"button-circular__icon" %}
                    <div class="button-circular__label">{{ lang[locale].details }}</div>
                </div>
                <div class="button-circular" data-action="click->carousel#toggleFullscreen">
                    {% inlineSVG src:"src/static/images/icons/24/icon-fullscreen.svg" class:"button-circular__icon" id:"FullscreenOpen" %}
                    {% inlineSVG src:"src/static/images/icons/24/icon-fullscreen-close.svg" class:"button-circular__icon" id:"FullscreenClose" %}
                    <div class="button-circular__label">{{ lang[locale].fullscreen }}</div>
                </div>
            </div>
        </div>

    </div>
    {% include sidebar/sidebar.liquid role:role %}
</div>
