{% if role == "embed" %}
<div class="carousel-sidebar-bg" data-controller="sidebar" data-action="click->sidebar#toggle"></div>
{% endif %}
<div class="carousel-sidebar scrollview"
     data-controller="sidebar"
     data-action="resize@window->sidebar#toggleOnResize
                  carouselSidebar:init@document->sidebar#init
                  carouselSidebar:show@document->sidebar#show
                  carouselSidebar:hide@document->sidebar#hide
                  carouselSidebar:toggle@document->sidebar#toggle"
>
    {% if role == "embed" %}
    <div class="carousel-sidebar__close-button button-circular" data-action="click->sidebar#toggle">
        {% inlineSVG src:"src/static/images/icons/24/icon-close.svg" class:"button-circular__icon" %}
        <div class="button-circular__label">{{ lang[locale].close }}</div>
    </div>
    {% endif %}
    <div class="carousel-sidebar__content">
        <div class="carousel-sidebar__description">
            <h6>{{ lang[locale].description }}</h6>
            <h5 data-sidebar-target="location"></h5>
            <div class="carousel-sidebar__description" data-sidebar-target="description"></div>
        </div>
        <div class="carousel-sidebar__year">
            <h6>{{ lang[locale].year }}</h6>
            <h5 data-sidebar-target="year"></h5>
        </div>
        <div class="carousel-sidebar__id">
            <h6>{{ lang[locale].picture_id }}</h6>
            <h5 data-sidebar-target="mid"></h5>
        </div>
        <div class="carousel-sidebar__donor">
            <h6>{{ lang[locale].donor }}</h6>
            <h5 data-sidebar-target="donor"></h5>
        </div>
        <div class="carousel-sidebar__photographer">
            <h6>{{ lang[locale].photographer }}</h6>
            <h5 data-sidebar-target="author"></h5>
        </div>

        <div class="carousel-add-tags"
             {% if role != "embed" %}
             data-controller="add-tags"
             data-action="photosCarousel:hide@document->add-tags#hideForm
             photosThumbnail:select@document->add-tags#getPendingTags
             photos:selectThumbnail@document->add-tags#hideForm
             auth:signedOut@document->add-tags#hideForm"
             {% endif %}>
            <h6 class="carousel-sidebar__tags-title">{{ lang[locale].tags }}</h6>
            <p class="carousel-sidebar__tags" data-sidebar-target="tags" data-add-tags-target="tags"></p>
            {% if role != "embed" %}
            <div class="carousel-add-tags__add"
               data-add-tags-target="addButton"
               data-action="click->add-tags#showForm"
            >{{ lang[locale].add_tag }}</div>
            <form class="carousel-add-tags__form is-hidden" data-add-tags-target="form">
                <h6>{{ lang[locale].add_tag }}</h6>
                {% if locale == "hu" %}
                <p class="carousel-add-tags__form__helper text-small">{{ lang[locale].add_tag_helper }}</p>
                {% endif %}
                {% include selectize-control/selectize-control.liquid class:'carousel-sidebar__tags__form__selectize' filter:'cimke_name' stimulus_target:'data-add-tags-target="input"' %}
                <button class="button button--primary button--medium button--wide carousel-add-tags__save"
                        data-add-tags-target="submitButton"
                        data-action="click->add-tags#submit"
                >{{ lang[locale].add_tag_action }}</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>