<div
  class="carousel-sidebar scrollview"
  data-controller="sidebar"
  data-action="resize@window->sidebar#toggleOnResize
                      carouselSidebar:init@document->sidebar#init
                      carouselSidebar:show@document->sidebar#show
                      carouselSidebar:hide@document->sidebar#hide
                      carouselSidebar:toggle@document->sidebar#toggle"><div class="carousel-sidebar__content">
    <div class="carousel-sidebar__description">
      <h6>{{ lang[locale].description }}</h6>
      <h5 data-sidebar-target="location"></h5>
      <div class="carousel-sidebar__description" data-sidebar-target="description"></div>
    </div>
    <div class="carousel-sidebar__year">
      <h6>{{ lang[locale].year }}</h6>
      <h5><span data-sidebar-target="approximate"></span><span data-sidebar-target="year"></span></h5>
    </div>
    <div class="carousel-sidebar__id">
      <h6>{{ lang[locale].picture_id }}</h6>
      <h5 data-sidebar-target="mid"></h5>
    </div>
    <div class="carousel-sidebar__donor">
      <h6>{{ lang[locale].donor }}</h6>
      <h5 data-sidebar-target="donor"></h5>
    </div>
    <div class="carousel-sidebar__photographer">
      <h6>{{ lang[locale].photographer }}</h6>
      <h5 data-sidebar-target="author"></h5>
    </div>

    <div
      class="carousel-add-tags"
      data-controller="add-tags"
      data-action="photosCarousel:hide@document->add-tags#hideForm
                     photosThumbnail:select@document->add-tags#getPendingTags
                     photos:selectThumbnail@document->add-tags#hideForm
                     auth:signedOut@document->add-tags#hideForm">
      <h6 class="carousel-sidebar__tags-title">{{ lang[locale].tags }}</h6>
      <p
        class="carousel-sidebar__tags"
        data-sidebar-target="tags"
        data-add-tags-target="tags"></p>

    </div>
  </div>
</div>