<div class="list-photos photos scrollview"
     data-controller="lists--photos"
     data-action="scroll->lists--photos#onScroll
                  resize@window->lists--photos#onScroll
                  lists:showListPhotos@document->lists--photos#show
                  lists:hideListPhotos@document->lists--photos#hide
                  photos:selectThumbnail@document->lists--photos#selectThumbnail
                  photosCarousel:photoSelected@document->lists--photos#onPhotoSelected
                  photosCarousel:hide@document->lists--photos#onCarouselClosed
                  dialogLists:listsChanged@document->lists--photos#onListsChanged
                  dialogLists:photoRemoved@document->lists--photos#reloadPhotos
                  thumbnail:loaded@document->lists--photos#loadThumbnails"
>
  <div class="list-title photos-title is-visible">
    <a href="/{{ locale }}/lists/" class="photos-title__list-link hidden-when-public" data-action="click->lists--photos#backToLists">
      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 14 10">
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2,6 L6,10 L10,6 M6,-2 L6,9" transform="rotate(90 7 6)"/>
      </svg>
      {{ lang[locale].lists }}
    </a>
    <span class="photos-title__username visible-when-public"><span data-lists--photos-target="username"></span></span>
    <h1 class="photos-title__title" data-lists--photos-target="title"></h1>
    <h5 class="photos-title__subtitle" data-lists--photos-target="subtitle">
      <i class="lists-private-icon hidden-when-public" title="{{ lang[locale].list_edit_private }}">
        {% inlineSVG src:"src/static/images/icons/24/icon-lock.svg" %}&bull;
      </i>
      <span data-lists--photos-target="count" class="photos-title__subtitle__count"></span>
      {{ lang[locale].photo_results }}
      <span class="hidden-when-public">&bull;&nbsp;{% include ../inc/context-menu role:"list-photos-edit" controller:"lists--photos" %}</span>
    </h5>
    <p class="list-description" data-lists--photos-target="description"></p>
  </div>
  <div class="photos__grid is-hidden" data-lists--photos-target="grid"></div>
  <div class="lists__placeholder is-hidden hidden-when-public" data-lists--photos-target="placeholder">
    <h3>{{ lang[locale].list_photos_empty_header }}</h3>
    <p>{{ lang[locale].list_photos_empty_text }}</p>
    <a href="/{{ locale }}/photos/" class="button button--medium button--primary">
      {{ lang[locale].photos }}
      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 14 10">
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2,6 L6,10 L10,6 M6,-2 L6,9" transform="rotate(-90 7 4)"/>
      </svg>
      </a>
  </div>
</div>

{% include thumbnail/thumbnail-template role:"lists" %}
{% include age-restriction/age-restriction-template.liquid %}
{% include carousel/carousel %}
{% include dialog/download/download %}
{% include dialog/share/share %}
{% include dialog/age-restriction/age-restriction.liquid %}
