<footer class="footer">
    <!--<a class="footer__link" href="/{{ locale }}/photos/">{{ lang[locale].photos }}</a>
    <a class="footer__link" href="/{{ locale }}/about-us/">{{ lang[locale].about_us }}</a>
    <a class="footer__link" href="/{{ locale }}/donors/">{{ lang[locale].donors }}</a>
    <a class="footer__link" href="https://www.donably.com/fortepan" target="_blank">{{ lang[locale].donate }}</a>
    <a class="footer__link" href="https://hetifortepan.capacenter.hu/{% if locale == "en" %}/{{locale}}{% endif %}" target="_blank">{{ lang[locale].weekly_fortepan }}</a>
    <a class="footer__link" href="https://forum.index.hu/Article/showArticle?t=9204653" target="_blank">{{ lang[locale].forum }}</a>
    <a class="footer__link" href="/{{ locale }}/projects/">{{ lang[locale].projects }}</a>-->
    <small class="footer__small">
    ©FREEDOC &nbsp;·&nbsp;&nbsp;<a href="mailto:csoszog@gmail.com">{{ lang[locale].contact_us }}</a> &nbsp;·&nbsp;&nbsp;<a href="/{{ locale }}/static/?content=privacy-policy">{{ lang[locale].privacy_policy }}</a><br/>

    </small>
    <div class="footer__icons">

    </div>
</footer>