---
layout: base/base.liquid
---

<div class="lists scrollview"
     data-controller="lists"
     data-action="auth:loginStatus@document->lists#show
                  dialogLists:listsChanged@document->lists#onListsChanged
                  dialogLists:photoRemoved@document->lists#onListsChanged
                  listPhotos:photoRemoved@document->lists#onListsChanged
                  scroll->lists#loadListItemThumbnails
                  popstate@window->lists#onPopState"
>
  <div class="layout-heading lists__heading">
    <h1 class="lists__title" data-lists-target="title">
      <span class="lists__title__label" data-lists-target="titleLabel">{{ lang[locale].lists }}</span>
      <a href="#" class="button button--medium button--secondary lists__title__button is-hidden" data-lists-target="titleButton" data-action="click->lists#createList">
        <span>{{ lang[locale].list_new }}</span>
      </a>
    </h1>
    <h5 class="lists__subtitle" data-lists-target="subtitle">
      <span class="lists__subtitle__count" data-lists-target="count">0</span>
      <span class="lists__subtitle__label" data-lists-target="countLabel">{{ lang[locale].list }}</span>
    </h5>
  </div>
  <div class="lists__grid is-hidden" data-lists-target="grid"></div>
  <div class="lists__placeholder is-hidden" data-lists-target="placeholder">
    <h3>{{ lang[locale].list_empty_header }}</h3>
    <p>{{ lang[locale].list_empty_text }}</p>
    <a href="#" class="button button--medium button--primary" data-action="click->lists#createList">{{ lang[locale].list_new }}</a>
  </div>
</div>

{% include ./inc/list-item-template %}
{% include ./photos/photos %}
{% include header-nav/header-nav %}
{% include dialog/lists/lists %}